/ansible/inventory
/hosts.ini

/vim/*
!/vim/snippets/
!/vim/dict/

/zsh/bin/Darwin
/zsh/bin/Linux
/zsh/zinit/
/zsh/zsh_history
/zsh/zsh_local

/config/*
!/config/karabiner/assets/complex_modifications/servak_bindings.json
!/config/nvim/

/tmux/plugins/
